*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 450px;
    height: 250px;
    padding: 20px;
    background: #00296b;
    border-radius: 8px;
}
.wrapper h1{
    padding-bottom: 15px;
}
.display{
    height: 40px;
    width: 380px;
    padding: 22px 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
.display input{
    width: 220px;
    font-size: 18px;
    border: 0;
    outline: 0;
}
.display p{
    color: #002339;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.wrapper button {
    width: 380px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: #ffd500;
    background: #00509d;
    border-radius: 5px;
    cursor: pointer;
}